body {
  margin:0;
  padding:0;
  background-color: #ccc;
}

.box {
  float:left;
  display:inline-block;
  margin-top:40px;
  margin-right: 25px; 
  background-color: darkgray;
  width:calc((100% - 125px)/4);
  padding:5px;
  box-sizing:border-box;
  border-radius: 10px;
}
.box:first-child  {
  margin-left:25px;
}
.card {
  background-color: white;
  box-shadow: 3px 1px 1px grey;
  margin: 10px;
  padding:10px;
  border-radius:5px;
}
.todo .header {
  background-color: green;
  color:white;
}
.backlog .header {
   background-color: purple;
   color:white;
 }
 .progress .header {
   background-color: darkblue;
   color:white;
 }
 .done .header {
  background-color: orange;
  color:white;
}
.add-card {
  padding:10px;
}
.move-left {
  float:left;
  margin-right: 50px;
}

.move-right {
  float:right;
}
